#nav-bar {
  padding: 2rem;
  /* border-radius: 6px; */
  background: #282617ad;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nav-bar #status-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-bar #status-bar button {
  background: transparent;
  border: transparent 2px solid;
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  transition: all 0.2s ease-in-out;
}

#nav-bar #status-bar button:hover {
  border: 2px white solid;
  transition: all 0.3s ease;
}

#nav-bar #status-bar .selected {
  border: 2px white solid;
}
#nav-bar #status-bar img {
  width: 40px;
}
